<a href="https://colab.research.google.com/github/Raulespz/cross_validation/blob/main/k_Nearest_Neighbor_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os, seaborn as sns
import pandas as pd
import numpy as np
#os.chdir('data')
#from datasetup import churndata
#from colorsetup import colors, palette
#sns.set_palette(palette)

In [ ]:
df = pd.read_csv('/content/churndata_processed.csv')
df.columns.tolist()

['months',
 'multiple',
 'gb_mon',
 'security',
 'backup',
 'protection',
 'support',
 'unlimited',
 'contract',
 'paperless',
 'monthly',
 'satisfaction',
 'churn_value',
 'payment_Credit Card',
 'payment_Mailed Check',
 'internet_type_DSL',
 'internet_type_Fiber Optic',
 'internet_type_None',
 'offer_Offer A',
 'offer_Offer B',
 'offer_Offer C',
 'offer_Offer D',
 'offer_Offer E']

In [ ]:
df_uniques = df.nunique()
df_uniques

months                          5
multiple                        2
gb_mon                         50
security                        2
backup                          2
protection                      2
support                         2
unlimited                       2
contract                        3
paperless                       2
monthly                      1585
satisfaction                    5
churn_value                     2
payment_Credit Card             2
payment_Mailed Check            2
internet_type_DSL               2
internet_type_Fiber Optic       2
internet_type_None              2
offer_Offer A                   2
offer_Offer B                   2
offer_Offer C                   2
offer_Offer D                   2
offer_Offer E                   2
dtype: int64

In [ ]:
binary_variables = list(df_uniques[df_uniques == 2].index)
binary_variables

['multiple',
 'security',
 'backup',
 'protection',
 'support',
 'unlimited',
 'paperless',
 'churn_value',
 'payment_Credit Card',
 'payment_Mailed Check',
 'internet_type_DSL',
 'internet_type_Fiber Optic',
 'internet_type_None',
 'offer_Offer A',
 'offer_Offer B',
 'offer_Offer C',
 'offer_Offer D',
 'offer_Offer E']

In [ ]:
categorical_variables = list(df_uniques[(df_uniques > 2) & (df_uniques <= 6)].index)
categorical_variables

['months', 'contract', 'satisfaction']

In [ ]:
ordinal_variables = ['contract', 'satisfaction']

In [ ]:
ordinal_variables.append('months')

In [ ]:
numeric_variables = list(set(df.columns) - set(ordinal_variables) - set(categorical_variables) - set(binary_variables))

In [ ]:
numeric_variables

['gb_mon', 'monthly']

In [ ]:
from sklearn.preprocessing import LabelBinarizer, LabelEncoder, OrdinalEncoder

In [ ]:
lb, le = LabelBinarizer(), LabelEncoder()

In [ ]:
for column in ordinal_variables:
    df[column] = le.fit_transform(df[column])

In [ ]:
for column in binary_variables:
    df[column] = lb.fit_transform(df[column])

In [ ]:
categorical_variables = list(set(categorical_variables) - set(ordinal_variables) - set(binary_variables))

In [ ]:
df = pd.get_dummies(df, columns = categorical_variables, drop_first=True)

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
multiple,7043.0,0.421837,0.493888,0.0,0.000000,0.000000,1.000000,1.0
gb_mon,7043.0,0.241358,0.240223,0.0,0.035294,0.200000,0.317647,1.0
security,7043.0,0.286668,0.452237,0.0,0.000000,0.000000,1.000000,1.0
backup,7043.0,0.344881,0.475363,0.0,0.000000,0.000000,1.000000,1.0
protection,7043.0,0.343888,0.475038,0.0,0.000000,0.000000,1.000000,1.0
support,7043.0,0.290217,0.453895,0.0,0.000000,0.000000,1.000000,1.0
unlimited,7043.0,0.673719,0.468885,0.0,0.000000,1.000000,1.000000,1.0
contract,7043.0,0.754792,0.848468,0.0,0.000000,0.000000,2.000000,2.0
paperless,7043.0,0.592219,0.491457,0.0,0.000000,1.000000,1.000000,1.0
monthly,7043.0,0.462803,0.299403,0.0,0.171642,0.518408,0.712438,1.0
satisfaction,7043.0,2.244924,1.201657,0.0,2.000000,2.000000,3.000000,4.0
churn_value,7043.0,0.265370,0.441561,0.0,0.000000,0.000000,1.000000,1.0
payment_Credit Card,7043.0,0.390317,0.487856,0.0,0.000000,0.000000,1.000000,1.0
payment_Mailed Check,7043.0,0.054664,0.227340,0.0,0.000000,0.000000,0.000000,1.0
internet_type_DSL,7043.0,0.234559,0.423753,0.0,0.000000,0.000000,0.000000,1.0
internet_type_Fiber Optic,7043.0,0.430924,0.495241,0.0,0.000000,0.000000,1.000000,1.0
internet_type_None,7043.0,0.216669,0.412004,0.0,0.000000,0.000000,0.000000,1.0
offer_Offer A,7043.0,0.073832,0.261516,0.0,0.000000,0.000000,0.000000,1.0
offer_Offer B,7043.0,0.116996,0.321438,0.0,0.000000,0.000000,0.000000,1.0
offer_Offer C,7043.0,0.058924,0.235499,0.0,0.000000,0.000000,0.000000,1.0
offer_Offer D,7043.0,0.085475,0.279607,0.0,0.000000,0.000000,0.000000,1.0
offer_Offer E,7043.0,0.114298,0.318195,0.0,0.000000,0.000000,0.000000,1.0
months_0.25,7043.0,0.156041,0.362920,0.0,0.000000,0.000000,0.000000,1.0
months_0.5,7043.0,0.130200,0.336547,0.0,0.000000,0.000000,0.000000,1.0
months_0.75,7043.0,0.134460,0.341170,0.0,0.000000,0.000000,0.000000,1.0
months_1.0,7043.0,0.228596,0.419958,0.0,0.000000,0.000000,0.000000,1.0

In [ ]:
outputfile = '/content/churndata_processed.csv'
df.to_csv(outputfile, index=False)                  #The index=False argument is provided to exclude the index column from being written to the CSV file.

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report, f1_score

In [ ]:
y, X = df['churn_value'], df.drop(columns='churn_value')
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=42)

In [ ]:
# Estimate KNN model and report outcomes
knn = KNeighborsClassifier(n_neighbors=3)
knn = knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)

#Precision, recall, f-score, from the multi-class support function
print(classification_report(y_test, y_pred))
print('Accuracy score: ', round(accuracy_score(y_test, y_pred), 2))
print('F1 Score: ', round(f1_score(y_test, y_pred), 2))

              precision    recall  f1-score   support

           0       0.95      0.96      0.95      2048
           1       0.89      0.86      0.87       770

    accuracy                           0.93      2818
   macro avg       0.92      0.91      0.91      2818
weighted avg       0.93      0.93      0.93      2818

Accuracy score:  0.93
F1 Score:  0.87

In [ ]:
# Estimate KNN model and report outcomes
knn = KNeighborsClassifier(n_neighbors=5, weights='distance')
knn = knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)

#Precision, recall, f-score, from the multi-class support function
print(classification_report(y_test, y_pred))
print('Accuracy score: ', round(accuracy_score(y_test, y_pred), 2))
print('F1 Score: ', round(f1_score(y_test, y_pred), 2))

              precision    recall  f1-score   support

           0       0.95      0.96      0.95      2048
           1       0.88      0.86      0.87       770

    accuracy                           0.93      2818
   macro avg       0.92      0.91      0.91      2818
weighted avg       0.93      0.93      0.93      2818

Accuracy score:  0.93
F1 Score:  0.87

In [ ]:
max_k = 40
f1_scores = list()
error_rates = list() # 1-accuracy

for k in range(1, max_k):

    knn = KNeighborsClassifier(n_neighbors=k, weights='distance')
    knn = knn.fit(X_train, y_train)

    y_pred = knn.predict(X_test)
    f1 = f1_score(y_pred, y_test)
    f1_scores.append((k, round(f1_score(y_test, y_pred), 4)))
    error = 1-round(accuracy_score(y_test, y_pred), 4)
    error_rates.append((k, error))

f1_results = pd.DataFrame(f1_scores, columns=['K', 'F1 Score'])
error_results = pd.DataFrame(error_rates, columns=['K', 'Error Rate'])

In [ ]:
f1_results

     K  F1 Score
0    1    0.8529
1    2    0.8531
2    3    0.8681
3    4    0.8715
4    5    0.8716
5    6    0.8720
6    7    0.8743
7    8    0.8794
8    9    0.8794
9   10    0.8762
10  11    0.8844
11  12    0.8851
12  13    0.8845
13  14    0.8876
14  15    0.8889
15  16    0.8895
16  17    0.8917
17  18    0.8903
18  19    0.8883
19  20    0.8895
20  21    0.8882
21  22    0.8898
22  23    0.8887
23  24    0.8901
24  25    0.8899
25  26    0.8887
26  27    0.8882
27  28    0.8887
28  29    0.8883
29  30    0.8901
30  31    0.8886
31  32    0.8880
32  33    0.8901
33  34    0.8898
34  35    0.8892
35  36    0.8889
36  37    0.8909
37  38    0.8917
38  39    0.8902

In [ ]:
error_results

     K  Error Rate
0    1      0.0806
1    2      0.0802
2    3      0.0710
3    4      0.0692
4    5      0.0692
5    6      0.0688
6    7      0.0678
7    8      0.0649
8    9      0.0649
9   10      0.0667
10  11      0.0625
11  12      0.0617
12  13      0.0621
13  14      0.0607
14  15      0.0600
15  16      0.0596
16  17      0.0586
17  18      0.0593
18  19      0.0603
19  20      0.0596
20  21      0.0603
21  22      0.0596
22  23      0.0600
23  24      0.0593
24  25      0.0593
25  26      0.0600
26  27      0.0603
27  28      0.0600
28  29      0.0603
29  30      0.0593
30  31      0.0600
31  32      0.0603
32  33      0.0593
33  34      0.0593
34  35      0.0596
35  36      0.0600
36  37      0.0589
37  38      0.0586
38  39      0.0593